@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
body {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #0a0a0a, #3a4452);
}
.calculator {
  margin-top: 0px;
  border: 1px solid #717377;
  padding: 20px;
  border-radius: 16px;
  background: transparent;
  box-shadow: 0px 3px 15px rgb(113, 115, 119, 0.5);
}
form .display{
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
 
}
form .display input{
  text-align: right;
  flex: 1;
  font-size: 45px;
  border-radius: 0px;
  box-shadow: none;
  width: 100px;
  background: transparent;
  color: white;

}
.calculator form .b input{
  width: 80px;
  height: 80px;
  /* border: none; */
  /* padding: 24px; */
  margin: 5px;
  background: transparent;
  box-shadow: 0px 3px 15px rgb(84, 84, 84, 0.5);
  font-size: 30px;
  text-align: center;
  color: white;
  border-radius: 10%;
  cursor: pointer;
}
.calculator form .b input.one {
  color: rgb(216, 139, 39);
}
.calculator form .b .equal{
  background-color: rgb(205, 141, 63);
}